name: "build"
on: [push, pull_request]

defaults:
  run:
    working-directory: ./slides

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Configuring the environment
        run: |
          bash utils/init.sh
      - name: Running the notebooks (if any)
        run: |
          docker compose up build
      - name: Generate the slides
        run: |
          docker compose up publish
      - name: Deploy
        if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master')
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          branch: gh-pages
          folder: slides/_site
      - uses: browser-actions/setup-chrome@v2
        with:
          chrome-version: 120
      - name: Export pdfs
        run: |
          bash utils/export2pdf.sh
      - name: Install Node
        uses: actions/setup-node@v6.2.0
        with:
          node-version-file: package.json
      - name: Release
        if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master')
        run: |
          cd ..
          npm install
          npx semantic-release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
