name: "build"
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - name: Running the notebooks (if any)
        run: |
          cd slides
          chmod +x *.sh
          docker compose up build
      - name: Generate the slides
        run: |
          cd slides 
          cp publish.sh.example publish.sh
          docker compose up publish
      - name: Deploy
        if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master')
        uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          branch: gh-pages
          folder: slides/_site
      - uses: browser-actions/setup-chrome@v2
        with:
          chrome-version: 120
      - name: Export pdfs
        run: |
          cd slides 
          ./export2pdf.sh
      - name: Install Node
        uses: actions/setup-node@v6.0.0
        with:
          node-version-file: package.json
      - name: Release
        if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master')
        run: |
          npm install
          npx semantic-release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}